.square{width: 100px;height: 100px;background: red}
.bg-green{background: green;}
.border{border: solid 1px black;}
.w-50{width:50%;}
.d-flex{display: flex;}
.j-center{justify-content: center;}
.a-center{align-items: center}
.w-10{width: 10%;}
.bg-red{background: red}
.bg-yellow{background: yellow}